.bottom-wrap {
  padding-top: 60px;
  text-align: center;
}

.bottom-wrap h3 {
  font-size: 18px;
  line-height: 1.5;
  word-break: keep-all;
}

.bottom-wrap strong {
  color: var(--blue);
}

.bottom-image {
  margin-top: 60px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.mobile-btn {
  z-index: 100;
  position: fixed;
  display: block;
  bottom: 1em;
  left: 1em;
  right: 1em;
  background-color: var(--blue);
  color: var(--white) !important;
  font-size: 15px;
  font-weight: bold;
  height: 50px;
  line-height: 47px;
  border-radius: 25px;
  box-shadow: 0 9px 14px rgba(92, 124, 250, .25)
}

@media screen and (max-width:359px) {
}

@media screen and (min-width:1024px) {
  .bottom-wrap {
    text-align: left;
    height: 520px;
    padding-top: 100px;
  }

  .bottom-wrap h3 {
    font-size: 28px;
    line-height: 1.5;
  }

  .bottom-wrap .app-btn {
    margin-top: 32px;
  }

  .bottom-image {
    width: 500px;
    height: 464px;
    position: absolute;
    bottom: 0;
    right: calc(50% - 510px);
    margin: 0;
  }

  .mobile-btn {
    display: none !important;
  }
}
