.counter-wrap {
  text-align: center;
  padding: 50px 0 20px 0;
  background: linear-gradient(180deg, var(--white), var(--grey-background));
}

.counter-wrap h3 {
  color: var(--blue);
  font-size: 36px;
  margin-top: 0.3em;
}

.counter-wrap p {
  font-weight: bold;
  font-size: 16px;
}

.icon-files {
  width: 220px;
}

.number {
  color: var(--blue);
  position: relative;
  display: inline-block;
}
.number::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 6px;
  background-color: #ffeaa0;
}

@media screen and (min-width:360px) and (max-width:1023px) {
}

@media screen and (min-width:1024px) {
  .counter-wrap {
    padding: 100px 0 50px 0;
  }

  .counter-wrap p {
    font-size: 27px;
  }

  .counter-wrap h3 {
    font-size: 74px;
  }
}
