.customers-container {
  margin: 5em auto !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.customers-container img {
  width: 180px;
  margin-bottom: 1em;
}




@media (max-width:359px) {

}

@media (min-width:1024px) {

}
