.feature {
  padding-top: 3em;
}

.feature:nth-of-type(odd) {
  background-color: #fafafa;
}

.feature-text h2 {
  font-size: 24px;
  margin: 8px 0 24px 0;
}

.feature-text h3 {
  font-size: 16px;
}

.feature-text h2::after {
  content: ".";
  color: var(--blue);
}

.feature-text ul {
  list-style-position: inside;
}

.feature-text ul li {
  font-size: 14px;
  position: relative;
  padding-left: 10px;
  color: var(--grey);
  word-break: keep-all;
  margin-bottom: 8px;
}

.feature-text li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  background-color: var(--grey);
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.feature-image {
  height: 420px;
  margin-top: 2em;
  text-align: center;
}

.feature-image img{
  height: 100%;
}

@media screen and (max-width:359px) {
}

@media screen and (min-width:1024px) {
  .feature .container {
    display: flex;
    flex-direction: row;
  }

  .feature {
    padding-top: 90px;
  }

  .feature-image {
    height: 470px;
    margin-top: 0;
  }

  .feature:nth-of-type(odd) .container {
    flex-direction: row-reverse;
  }

  .feature:nth-of-type(odd) .feature-text {
    padding: 55px 0 0 50px;
  }

  .feature:nth-of-type(even) .feature-text {
    padding-top: 75px;
  }

  .feature-text {
    flex-basis: 60%;
  }

  .feature-text h2 {
    font-size: 42px;
  }

  .feature-text h3 {
    font-size: 18px;
  }

  .feature-text ul li {
    font-size: 16px;
  }
}
