.footer-nav {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.footer-nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-nav ul li {
  display: inline-block;
  padding: 4px 0;
  margin: 0 6px;
  font-size: 14px;
}

.footer-nav li a {
  color: #4f4f4f;
}

.footer-info {
  text-align: center;
}

.logo-company {
  margin-top: 32px;
}

.company-info {
  margin-top: 14px;
  font-size: 13px;
  line-height: 1.5;
}

.company-info span {
  display: block;
  color: var(--grey);
}

.company-info .bar {
  display: none;
}

.contact-list {
/*  display: block;*/
  max-width: 450px;
  margin: 18px auto 0 auto;
}

.contact-list li {
  display: inline-block;
  color: var(--grey);
  font-size: 12px;
  margin-bottom: 2px;
  padding-left: 0;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 30px auto 80px auto;
  position: relative;
}

.footer-bottom span, .policy a, .contact-list a {
  color: var(--grey);
}

.policy {
  font-weight: bold;
  margin-top: 14px;
}

.channel {
  margin-top: 30px;
}

.channel img {
  margin-right: 1em;
}

@media screen and (max-width:359px) {
  footer {
    word-break: keep-all;
  }

  .footer-nav ul {
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (min-width:1024px) {
  .footer-nav ul li {
    padding: 12px 0;
    margin: 0 26px 0 0;
  }

  .footer-info {
    text-align: left;
  }

  .company-info .bar {
    display: inline-block;
    margin: 0 6px;
    color: #e0e0e0;
  }

  .company-info span {
    display: inline;
  }

  .contact-list {
    display: block;
    max-width: 450px;
    margin: 18px 0 0 0;
  }

  .contact-list li {
    font-size: 13px;
  }

  .footer-bottom {
    display: block;
    margin: 30px 0 48px 0;
  }

  .footer-bottom span {
    display: inline-block;
    vertical-align: super;
  }

  .copyright {
    margin-right: 40px;
  }

  .policy a {
    margin-right: 20px;
    font-size: 13px;
  }

  .channel {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0;
  }

  .channel a {
    display: inline-block;
    vertical-align: middle;
  }
}
