/*Hero Start*/
.hero-wrap {
  position: relative;
  background-color: #e8edff;
  padding-top: 3em;
  text-align: center;
}
.hero-wrap h3 {
  background-color: #5c7cfa;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3em;
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.8rem;
}
.hero-wrap h2 {
  font-weight: bold;
  font-size: 2.3rem;
}
/*.hero-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}*/
.colored-text {
  color: #5c7cfa;
}
.hero-wrap p {
  margin-top: 1em;
  color: #777;
  font-size: 0.85rem;
}
.app-btn {
  display: none;
}
.hero-illustration {
  background-image: url('../images/hero.svg');
  margin-top: 30px;
  /*width: 150%;*/
  height: 230px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
@media (max-width:359px) {
}

@media (min-width:1024px) {
  .hero-wrap {
    position: relative;
    background-color: #e8edff;
    padding: 4em;
    text-align: left;
  }
  .hero-wrap .hero-container {
    padding: 0;
  }
  .hero-illustration {
    background-image: url('../images/hero.svg');
    position: absolute;
    bottom: 0;
    right: calc(50% - 510px);
    width: 608px;
    height: 450px;
    margin: 0;
  }
  .hero-wrap h3 {
    background-color: #5c7cfa;
    color: white;
    padding: 0.5em 1em;
    border-radius: 3em;
    display: inline-block;
    margin-bottom: 1em;
  }
  .hero-wrap h2 {
    font-weight: bold;
    font-size: 4rem;
  }
  .colored-text {
    color: #5c7cfa;
  }
  .hero-wrap p {
    margin: 1em 0 5em 0;
    color: #777;
    font-size: 1.1rem;
  }
  .app-btn {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
  }
  .app-btn a {
    margin-right: 1em;
  }
}
