.review-wrap {
  background-color: var(--grey-background);
  padding: 60px 0;
}

.review-wrap h2 {
  text-align: center;
  margin-bottom: 16px;
  font-size: 21px;
}

.review {
  background-color: #fff;
  border-radius: 1em;
  padding: 30px 20px;
  box-shadow: 2px 8px 25px rgb(64 129 254 / 10%);
  margin-bottom: 1em;
}

.review h3 {
  font-size: 17px;
  margin-bottom: 8px;
}

.review p {
  font-size: 14px;
  color: var(--grey);
  margin-bottom: 20px;
}

.name {
  text-align: right;
  color: black !important;
  font-weight: bold;
  margin-bottom: 0 !important;
  font-size: 15px;
}

.name::after {
  content: '님';
  margin-left: 0.3em;
  font-weight: normal;
}

@media screen and (min-width:360px) and (max-width:1023px) {
}

@media screen and (min-width:1024px) {
  .review-wrap {
    padding: 6em 0;
  }

  .reviews {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .review {
    width: 32%;
    margin-bottom: 1em;
    padding: 40px 30px;
  }

  .review-wrap h2 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  .review h3 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .review p {
    font-size: 15px;
    margin-bottom: 20px;
  }
}
