/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
*/
@import url('header.css');
@import url('hero.css');
@import url('customer.css');
@import url('counter.css');
@import url('feature.css');
@import url('review.css');
@import url('bottom.css');
@import url('footer.css');

:root {
  --white: #fff;
  --grey: #828282;
  --blue: #5c7cfa;
  --grey-hero: #777;
  --blue-background: #e8edff;
  --grey-background: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  /*font-family: 'Spoqa Han Sans Neo', 'sans-serif';*/
  text-decoration: none;
  color: black;
  box-sizing: border-box;
}

.container {
  position: relative;
  max-width: 980px;
  height: 100%;
  margin: 0 auto;
  padding: 0 1em;
}
.colored-text {
  color: var(--blue);
}
